body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eeebe6;
}

.nav_link {
  font-size: 20px;
  font-weight: 600;
}

.nav_link:hover {
  cursor: pointer;
}

.nav_list {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

header {
  padding: 2vh;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 40px;
}

h2 {
  font-size: 25px;
  font-weight: 600;
}

.landing,
.menu,
.contact {
  width: 95vw;
  height: 85vh;
  display: flex;
  position: relative;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.landing::after,
.contact::after,
.menu::after {
  content: "";
  background: url(../images/landing.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.loadpage_img_container img {
  max-height: 50vh;
  margin: 40px;
  border-radius: 10px;
}

li p {
  margin: 0 10px;
}

.landing p {
  font-size: 20px;
  font-weight: 500;
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.menu h1 {
  grid-column: 1 / -1;
  text-align: center;
}

.menu div {
  display: flex;
  justify-content: center;
}

.Drinks {
  grid-column: 1 / -1;
}

.contact h2 {
  margin-bottom: 80px;
}

.contact p {
  font-size: 30px;
}

.contact::after {
  background: url(../images/test.jpg);
}

.menu::after {
  background: url(../images/menu.jpg);
}

li {
  display: flex;
}
